/*CART CONTAINERS*/

#itemWrapper {
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 10px;
    border-style:solid;
    border-width: 5px;
    border-color: rgba(49, 65, 61, 0.829);
    border-radius: 15px;
    text-align: center;
    max-width: ;
    animation: fadeIn 2.5s;
    box-shadow: 10px 10px 5px grey;
    font-size: 20px;
}

#productImage {
    width: 100%;
    border-radius: 15px;
    max-width: 500px;
}

/*CHECKOUT/TOTAL ROW*/

#checkoutbtncont {
    float:right;
    padding: 15px;
}

#subtotal {
    margin-right: 10px;
}

#checkout-button {
    padding: 20px;
    transition: 0.3s;
    box-shadow: 10px 10px 5px grey;
    animation: 0.3s;
}

#checkout-button:hover {
    background-color: rgba(49, 65, 61, 0.829);
    color: white;
}

/*REMOVE FROM CART BUTTONS*/
.rfc {
    padding: 20px;
    background-color: rgb(46, 73, 64);
    color: white;
    transition: 0.3s;
}

.rfc:hover {
    background-color: gray;
    color: white;
}

/*KEYFRAMES*/

.fade-in-image {
    animation: fadeIn 5s;
    -webkit-animation: fadeIn 5s;
    -moz-animation: fadeIn 5s;
    -o-animation: fadeIn 5s;
    -ms-animation: fadeIn 5s;
  }
  @keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
  }
  
  @-moz-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
  }
  
  @-webkit-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
  }
  
  @-o-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
  }
  
  @-ms-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
  }