<div class="col-lg-4 col-sm-6 mb-4">
    <div class="portfolio-item" data-id="{{id}}">
        <a class="portfolio-link" data-toggle="modal" href="#portfolioModal1">
            <div class="portfolio-hover">
                <div class="portfolio-hover-content"><i class="fas fa-plus fa-3x"></i></div>
            </div>
            <img class="img-fluid" src="{{imgurl}}" alt="" />
        </a>
        <div class="portfolio-caption">
            <div class="portfolio-caption-heading">{{product}}</div>
            <div class="portfolio-caption-subheading text-muted">{{price}}</div>
        </div>
    </div>
</div>